@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #323234;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

.wrapper{
    width: 80%;
    height: 300px;
    margin: auto;
    color: #F9F9F9;
}


.header{
    text-align: center;
    background-color: #3A3A3A;
    border-radius: 15px;
    max-width: 70%;
    margin: 50px auto;
    padding: 10px 0 20px 0;
    box-shadow: 15px 15px 4px rgba(0,0,0,0.25);
}
.time{
    font-size: 4em;
}
.greeter{
    font-size: 2.3em;
}
.date{
    margin-top: 10px;
    font-size: 1.5em;
    color: rgba(249, 249, 249, 0.43);
}

.blocks{
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.block{
    display: flex;
    width: 200px;
    max-width: 200px;
    height: 250px;
    background-color: #3A3A3A;
    box-shadow: 15px 15px 4px rgba(0,0,0,0.25);
    border-radius: 15px;
    margin: 0 15px 30px 15px;
    font-size: 1em;
}

.blockContent{
    width: 200px;
    padding: 15px;
}

.separators{
    background-color: #525252;
    height: 4px;
    width: 106%;
    border-radius: 2px;
    margin: 5px -3% 5px -3%;
}


a{
    text-decoration: none;
    color: #F9F9F9;
    outline: none;
}

.button{
    font-size: 0.9em; 
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 2px;
}

.button:hover{
    background-color: rgba(255, 255, 255, 0.05);
}

